<link href="<%= u("approve/public/approve.css") %>" media="screen" rel="stylesheet" type="text/css">

<% pending_queue = Resque::Plugins::Approve::PendingJobQueue.new(@approval_key) %>

<h1>
  <%= pending_queue.approval_key %>
</h1>

<p>
  <a href="<%= u("approve") %>">
    Approval Keys
  </a>
</p>

<p>
  Num active jobs in this queue = <%= pending_queue.num_running %>
</p>

<% if pending_queue.paused? %>
  <p>
    Paused. Skipped <%= pending_queue.num_ignored %> resume actions.
  </p>
<% end %>

<% if pending_queue.num_jobs > 0 %>
  <h1>Jobs</h1>

  <% jobs = pending_queue.paged_jobs(@page_num, @page_size) %>
  <%= erb(File.read(Resque::ApproveServer.erb_path("_job_pagination.erb")),
          locals: { pending_queue: pending_queue,
                    approval_key:  @approval_key,
                    page_num:      @page_num,
                    page_size:     @page_size }) %>

  <%= erb(File.read(Resque::ApproveServer.erb_path("_job_list_table.erb")),
          locals: { jobs: jobs, show_class: false }) %>

  <%= erb(File.read(Resque::ApproveServer.erb_path("_job_pagination.erb")),
          locals: { pending_queue: pending_queue,
                    approval_key:  @approval_key,
                    page_num:      @page_num,
                    page_size:     @page_size }) %>

  <br/>

  <form method="POST" action="<%= u("approve/delete_queue") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Delete All"/>
  </form>

  <form method="POST" action="<%= u("approve/delete_one_queue") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Delete One"/>
  </form>

  <form method="POST" action="<%= u("approve/approve_queue") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Approve All"/>
  </form>

  <form method="POST" action="<%= u("approve/approve_one_queue") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Approve One"/>
  </form>
<% end %>

<form method="POST" action="<%= u("approve/reset_running") %>?<%=
  { approval_key: pending_queue.approval_key }.to_param %>">
  <input type="submit" name="" value="Reset Running"/>
</form>

<% if pending_queue.paused? %>
  <form method="POST" action="<%= u("approve/resume") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Resume"/>
  </form>
<% else %>
  <form method="POST" action="<%= u("approve/pause") %>?<%=
    { approval_key: pending_queue.approval_key }.to_param %>">
    <input type="submit" name="" value="Pause"/>
  </form>
<% end %>

<div class="approve_reset"/>
<br/>
<div>
  <p>
    Approval v<%= Resque::Plugins::Approve::VERSION %>
  </p>
</div>
